:root {
	--white: #fff;
	--active-color: #00aeb0;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	/* background: var(--active-color); */
	transition: background 0.4s ease;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.audio-player {
	grid-row: 3;
	grid-column: 2;
	min-width: 400px;
	border-radius: 20px;
	padding: 40px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	/* box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.15); */
	transition: all 0.3s ease-in-out;
	margin: auto;
	margin-bottom: 150px;
	color: var(--white);
	overflow: hidden;
}

/* .audio-player::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  color: var(--white);
}

.audio-player:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  color: var(--white);
}

.audio-player:hover::after {
  opacity: 1;
  border-radius: 20px;
  overflow: hidden;
  color: var(--white);
} */

.artwork {
	border-radius: 120px;
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
}

.track-info {
	text-align: center;
	z-index: 1;
	position: relative;
}

.title {
	font-weight: 700;
	margin-bottom: 4px;
}

.artist {
	font-weight: 300;
	margin-top: 0;
}

.audio-controls {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: 15px auto 15px;
}

.prev,
.next {
	width: 35px;
	height: 35px;
	transition: all 0.3s ease-in-out;
}

.prev::after,
.next::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.prev:hover,
.next:hover {
	transform: scale(1.1, 1.1);
}

.prev:hover::after,
.next:hover::after {
	opacity: 1;
}

.play,
.pause {
	height: 40px;
	width: 40px;
	transition: all 0.3s ease-in-out;
	border: 0;
}

.play::after,
.pause::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.play:hover,
.pause:hover {
	transform: scale(1.1, 1.1);
}

.play:hover::after,
.pause:hover::after {
	opacity: 1;
}

.audio-controls path {
	fill: var(--white);
}

input[type="range"] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}

input[type="range"]:hover {
	outline: none;
}

input[type="range"]::-moz-range-progress {
	height: 10px;
	-webkit-appearance: none;
	color: #ffffffd8;
	margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background: #ffffff;
	cursor: pointer;
	border-radius: 30px;
	outline: none;
	transition: all 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb::after {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

input[type="range"]::-webkit-slider-thumb:hover {
	transform: scale(1.15, 1.15);
}

input[type="range"]::-webkit-slider-thumb::after:hover {
	opacity: 1;
}

.color-backdrop {
	background: linear-gradient(0deg, var(--active-color) 30%, transparent 70%)
		no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.color-backdrop.playing {
	animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
