@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Style entire website */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Spartan", sans-serif;
	font-weight: 300;
}

p {
	font-size: 18px;
}

/*------App initialization------*/

.main-container {
	display: grid;
	place-items: center;
	grid-template-rows: 3fr 1fr 8fr;
	grid-template-columns: 2fr 3fr 2fr;
	height: 100vh;
}

.header {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-weight: 600;
	font-style: italic;
	font-size: 3.5rem;
}

.reset-btn {
	grid-row: 1;
	grid-column: 1;
}

.main-container > .journal-page {
	width: 100%;
	grid-row: 1/4;
	grid-column: 1/4;
}
.subtitle {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
}

.journal-btn {
	grid-column: 3;
	grid-row: 1;
	place-self: center;
}

.video {
	grid-row: 3;
	grid-column: 2;
	max-width: 50%;
	max-height: 200px;
	text-align: center;
}

/*------Application with Mood------*/

@-webkit-keyframes ShiftBackground {
	0% {
		background-position: 0% 57%;
	}
	50% {
		background-position: 100% 44%;
	}
	100% {
		background-position: 0% 57%;
	}
}

@keyframes ShiftBackground {
	0% {
		background-position: 0% 57%;
	}
	50% {
		background-position: 100% 44%;
	}
	100% {
		background-position: 0% 57%;
	}
}
