@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Style entire website */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 200;
}

.main-container {
  display: grid;
  place-content: center;
  grid-template-rows: 1fr 5fr;
}

.header {
  text-align: center;
  padding-top: 1em;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
}
