.journal-page {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: 100px repeat(auto, 25px);
	place-items: center;
}
.journal-input {
	padding-bottom: 10px;
	grid-column: 2;
	grid-row: 1;
	place-self: center;
}
.journal-entry {
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	grid-column: 2;
	place-self: center;
}
