.display-flex {
    display: flex;
    flex-direction: column;
}
  
.justify-content-center {
    justify-content: center;
}
  

.camera {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.photo_button {
    width: 10em;
    align-self: center;
}